.main {                                                                  
  height: 100%;
  width: 100%;
  background: #ffffff;
  padding-top: 70px;
  .container {
    display: flex;
    flex-direction: column;

    .table-content {
      text-align: center;
      .btn {
        &:hover {
          background-color: #26caa7;
          color: #ffffff;
        }
      }
    }
    .add-category-btn {
      margin-left: auto;
      margin-bottom: 5px;
      margin-right: 0px;
    }
  }
}
