<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <button class="btn btn-outline-dark add-category-btn row" (click)="showCategoryForm()">Add new category</button>
    <table class="table table-content">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Tickets</th>
          <th>Order</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; index as i">
          <th>{{i+1}}</th>
          <td>{{category.title}}</td>
          <td>{{getTicketCount(category.id)}}</td>
          <td>{{category.order}}</td>
          <td>
            <button class="btn shadow-none" (click)="editCategory(category)">Edit</button>
            <button class="btn shadow-none" (click)="deleteCategory(category)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>