/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "./../node_modules/dragula/dist/dragula.css";

html,
body {
  height: 100%;
  // padding-top: 50px;
  .modal-close {
    &:focus {
      outline: hidden;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .btn-primary {
    border-color: #26caa7;
    background-color: #26caa7;
    &:hover {
      border-color: #1c9e82;
      background-color: #1c9e82;
    }
    &:focus {
      border-color: #137560;
      background-color: #137560;
    }
  }
}
