/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "./../node_modules/dragula/dist/dragula.css";

$primary: #26caa7;
@import "./../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  // padding-top: 50px;
  .modal-close {
    &:focus {
      outline: hidden;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .p-chips ul {
    display: inline;
    &:hover {
      border: 1px solid #ced4da !important;
    }
    .p-chips-token {
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;
      background: $primary !important;  //todo
      border: 1px solid $primary;
      border-radius: 6px;
      color: #ffffff !important; //todo
      font-weight: 400;
    }
  }
}
