.preview-container {
  background: #ffffff;
  margin: 0px;
  font-size: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
    background: darken(#ffffff, 5%);
  }
  .lable-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .lable-tag {
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-weight: 400;
    border-radius: 6px;
    font-size: 13px;
    color: #ffffff;
    background-color: #26caa7;
  }
  .crop-height {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
  }
  .count-comment {
    margin-left: 5px;
  }
}
