<div class="modal-content" [formGroup]="ticketDetailsForm">
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div formGroupName="ticketGroup">
      <div class="form-group">
        <label class="col-form-label">Title:</label>
        <input type="text" class="form-control" formControlName="title">
        <span class="text-danger" *ngIf="submitted && ticketFormGroup.controls.title.errors?.required">
          Title is required
        </span>
      </div>
      <div class="form-group">
        <label class="col-form-label">Category:</label>
        <select type="text" class="form-control" formControlName="categoryId">
          <option *ngFor="let c of categories" [ngValue]="c.id">{{c.title}}</option>
        </select>
        <span class="text-danger" *ngIf="submitted && ticketFormGroup.controls.categoryId.errors?.required">
          Category is required
        </span>
      </div>
      <div class="form-group">
        <label class="col-form-label">Label: </label>
        <p-chips formControlName="labels"></p-chips>
      </div>
      <div class="form-group">
        <label class="col-form-label">Description:</label>
        <textarea class="form-control" formControlName="description"></textarea>
        <span class="text-danger" *ngIf="submitted && ticketFormGroup.controls.description.errors?.required">
          Description is required
        </span>
      </div>
    </div>
    <div class="form-group" *ngIf="!isExistingTicket()">
      <label class="col-form-label">Comments:</label>
      <textarea class="form-control" formControlName="commentContent"></textarea>
      <button type="button" class="btn btn-primary" (click)="addComment()">Submit</button>
      <div *ngFor="let comment of comments">
        <app-comment [comment]="comment"></app-comment>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addTicket()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>