<div class="modal-content" [formGroup]="ticketDetailsForm">
  <div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="col-form-label">Title:</label>
      <input type="text" class="form-control" formControlName="title">
    </div>
    <div class="form-group">
      <label class="col-form-label">Category:</label>
      <select type="text" class="form-control" formControlName="categoryId">
        <option *ngFor="let c of categories" [ngValue]="c.id">{{c.title}}</option>
      </select>
    </div>
    <div class="form-group">
      <p-chips formControlName="labels"></p-chips>
    </div>
    <div class="form-group">
      <label class="col-form-label">Description:</label>
      <textarea class="form-control" id="message-text" formControlName="description"></textarea>
    </div>
    <div class="form-group" *ngIf="!isExistingTicket()">
      <hr>
      <label class="col-form-label">Comments:</label>
      <textarea class="form-control" id="message-text" ></textarea>
      <hr>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addTicket()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>