<nav *ngIf="IsLoggedIn" class="navbar  sticky-top">
  <a routerLink="" class="btn-home">
    <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-person-circle user-icon" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <use xlink:href="/assets/svg/bootstrap-icons.svg#house" />
    </svg>
  </a>
  <div class="btn-group" dropdown>
    <div id="dropdown" dropdownToggle aria-controls="dropdown-animated">
      <div class="row user">
        <div class="count-comment user-name">{{userName}}</div>
        <svg width="32px" height="32px" viewBox="0 0 16 16" class="bi bi-person-circle user-icon" fill="currentColor"
          xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="/assets/svg/bootstrap-icons.svg#person-circle" />
        </svg>
      </div>
    </div>
    <ul id="dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
      aria-labelledby="button-animated">
      <li role="menuitem"><a routerLink="/admin" class="dropdown-item">Settings</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="logout()">Log out</a></li>
    </ul>
  </div>
</nav>