:host-context(app-home-page) {
  .navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    .btn-home {
      color: #ffffff;
      border: 2px solid #ffffff;
      border-radius: 4px;
      padding: 3px;
      &:hover {
        background-color: #ffffff;
        color: #000000;
      }
    }
    .user {
      cursor: pointer;
      width: auto;
      .user-icon {
        margin-right: 25px;
        width: 32px;
        height: 32px;
        fill: #fff;
      }
      .user-name {
        padding-top: 4px;
        margin-right: 10px;
      }
    }
    .dropdown-menu {
      margin-top: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      .dropdown-item {
        color: #fff;
      }
      .dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0);
        color: darken($color: #fff, $amount: 10);
        cursor: pointer;
      }
    }
  }
}
:host-context(app-admin-page) {
  .navbar {
    position: fixed;
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
    .btn-home {
      color: #000000;
      border: 2px solid #000000;
      border-radius: 4px;
      padding: 3px;
      &:hover {
        background-color: #000000;
        color: #ffffff;
      }
    }
    .user {
      cursor: pointer;
      width: auto;
      .user-icon {
        margin-right: 25px;
        width: 32px;
        height: 32px;
        fill: #000000;
      }
      .user-name {
        padding-top: 4px;
        margin-right: 10px;
      }
    }
    .dropdown-menu {
      margin-top: 15px;
      background-color: rgb(250, 250, 250);
      .dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
      }
    }
  }
}
