.container {
  background: #ffffff;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  .title-lable {
    font-weight: 500;
    margin-bottom: 0px;
  }
  .tag-label {
    margin: 0px;
    margin-right: 5px;
    font-weight: 500;
    border-radius: 0px;
  }
}

.container:hover {
  background: #f2f2f2;
}
