.title-comment {
  padding: 15px;
  .name-label {
    font-weight: 500;
  }
  .date-label {
    margin-left: auto;
  }
}
.content {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ced4da;
  padding: 10px;
}
