<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label [ngIf]="true" >fadsfasd</label>
    <label [ngIf]="isDelete; else cannotBeDeleted" class="col-form-label">Are you sure?</label>
    <ng-template #cannotBeDeleted>
      <label class="col-form-label">Can't delete with active tickets.</label>
    </ng-template>
  </div>
</div>
<div class="modal-footer">
  <button *ngIf="isDelete" type="button" class="btn btn-primary" (click)="activeModal.close('Delete')">Delete</button> 
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>