/* You can add global styles to this file, and also import other style files */
@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "~primeng/resources/themes/saga-blue/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

html,
body {
  height: 100%;
  overflow-y: hidden;
  padding-top: 50px;
}
